<%= render 'layouts/header' %>

<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: </h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"> <%= message %> </div>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <%= f.label :password %>
  <%= f.password_field :password %><br />
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br/>

  <%= f.submit "Sign Up"%>

<% end %>
