<p>Here are all your tasks.</p>

<p>Add a new task</p>
<%= form_for Task.new, url: user_tasks_path(@user), remote: true do |f| %>
  <%= f.text_field :name %><br />
  <%= f.submit %>
<% end %>


<div class="container">
  <% @user.tasks.each do |task| %>
    <div class="task_parent hide_form">
      <%= form_for [@user, task], remote: true do |f| %>
        <%= f.text_field :name %>
      <% end %>
      <%= render task %>
    </div>
  <% end %>
</div>
