<%= render 'layouts/header' %>

<% if current_user == @user %>

<p>Hi, <%= current_user.name %>. Your tasks, if any, are below.</p>
<p>Double-click a task to change its name.</p>

  <%= form_for Task.new, url: user_tasks_path(@user), remote: true do |f| %>
    <%= f.label "Add a new task:" %><br />
    <%= f.text_field :name %><br />
    <%= f.submit "Add task" %>
  <% end %>
  <br />

  <div class="container">
    <% @user.tasks.each do |task| %>
        <%= render task %>
    <% end %>
  </div>

<% else %>

  <p>Sorry, a user's page is only visible by that user.</p>

<% end %>
